
<div class="row">
    <div class="col-md-4">
        <h2>Esto es una api, favor usar las rutas de la misma, que son /api/movies y /api/actors</h2>

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
